h1{
    font-size: 80px;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    color:rgb(255, 177, 61);
}

img{
    width: 350px;
}

body{
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://media.npr.org/assets/img/2020/04/08/20200127-dsc_7027_custom-2e17e1d251236c95e69a2cf4a5c201fb3da1c4ca-s1600-c85.webp") no-repeat center center/cover;
    /* background-attachment: fixed;
    background-color: #141413; */
    margin : 0px;
}

h2{
font-size: 60px;
color: rgb(255, 177, 61);
font-family: sans-serif;
margin: 0px;
}


.btn {
    background: #bebebd;
   /* background-image: -webkit-linear-gradient(top, #3DF6A3, #D0C31E);
    background-image: -moz-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -ms-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -o-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: linear-gradient(to bottom, #3DF6A3, #D0C31E); */
/* -webkit-border-radius: 20px;
-moz-border-radius: 20px; */
border-radius: 10px;
color: black;
font-family: Verdana;
font-size: 25px;
font-weight: 100;
padding: 10px;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 20px 0px #000000;
-moz-box-shadow: 1px 1px 20px 0px #000000;
text-shadow: 1px 1px 20px #000000;
/* border: solid #337FED 1px; */
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.submit {
    background:rgb(255, 177, 61);
   /* background-image: -webkit-linear-gradient(top, #3DF6A3, #D0C31E);
    background-image: -moz-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -ms-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: -o-linear-gradient(top, #3DF6A3, #D0C31E);
background-image: linear-gradient(to bottom, #3DF6A3, #D0C31E); */
/* -webkit-border-radius: 20px;
-moz-border-radius: 20px; */
border-radius: 10px;
color:black;
font-family: Verdana;
font-size: 20px;
font-weight: 100;
padding: 10px;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 20px 0px #000000;
-moz-box-shadow: 1px 1px 20px 0px #000000;
text-shadow: 1px 1px 20px #000000;
/* border: solid #337FED 1px; */
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.btn:hover {
    /* border: solid #89ED33 1px; */
    background: rgb(255, 177, 61);
    /*background-image: -webkit-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -moz-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -ms-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -o-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: linear-gradient(to bottom, #CAD01E, #F6EC3D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;*/
    border-radius: none;
    text-decoration: none;
    }

.submit:hover {
    /* border: solid #89ED33 1px; */
    background: rgb(216, 145, 39);
    /*background-image: -webkit-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -moz-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -ms-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: -o-linear-gradient(top, #CAD01E, #F6EC3D);
    background-image: linear-gradient(to bottom, #CAD01E, #F6EC3D);
    -webkit-border-radius: 20px;
        -moz-border-radius: 20px;*/
    border-radius: none;
    text-decoration: none;
}

.cont{
    /* background-color: #141413; */
    margin : 0px;
    float: none;
    padding:0px;
    /* height: 100; */
    padding-top: 50px;
    margin-bottom: 20px;
}

.cont h2{
    width: 100%;
    float: none;
}

.cont1{
    /* height: 100%; */
    padding-top: 50px;
    padding-bottom: 70px;
    background: url('../img/background.jpg') no-repeat center center/cover;
    /*background-color: #141413;*/
    /* margin : 0px; */
    /* position: relative;
    min-height: 80vh; */
    /* padding:0px; */
    
    /* padding-top: 50px; */
    /* margin-bottom: 20px; */
    /* float: none;
    padding-bottom: 2.5rem; */
}




span{
    color: rgb(92, 27, 105);
}


#main-footer {
    position: relative;
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    
  }